
.custom-shape-divider-bottom-1721746906 {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   transform: rotate(180deg);
}

.custom-shape-divider-bottom-1721746906 svg {
   position: relative;
   display: block;
   width: calc(186% + 1.3px);
   height: 120px;
}

.custom-shape-divider-bottom-1721746906 .shape-fill {
   fill: #16A34A;
}
.custom-shape-divider-top-1721747021 {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   transform: rotate(180deg);
}

.custom-shape-divider-top-1721747021 svg {
   position: relative;
   display: block;
   width: calc(186% + 1.3px);
   height: 120px;
}
.custom-shape-divider-top-1721747206 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1721747206 svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
    height: 106px;
}

.custom-shape-divider-top-1721747206 .shape-fill {
    fill: #18cabb88;
}

.custom-shape-divider-top-1721747021 .shape-fill {
   fill: #16A34A;
}
.custom-shape-divider-bottom-1721747544 {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
}

.custom-shape-divider-bottom-1721747544 svg {
   position: relative;
   display: block;
   width: calc(109% + 1.3px);
   height: 166px;
}

.custom-shape-divider-bottom-1721747544 .shape-fill {
   fill: #18cabb88;
}