body{
   overflow: hidden;
}

.third{
   position: absolute;
   top: 0;
   left: 20rem;
}

.second{
   position: absolute;
   top: -15rem;
   left: 42rem;
   z-index: 10;
}

.first{
   position: absolute;
   top: -20rem;
   left: 70rem;
   transform: scale(2);
   z-index: 20;
}

.explore{
   position: absolute;
   margin: 30px;
   bottom: 0;
   width: 100vw;
   z-index: 30;
   display: flex;
   justify-content: center;
   align-items: center;
}

.btn{
   color: white;
   padding: 10px;
   font-size: 1.5rem;
   text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
   cursor: pointer;
   animation: float 2s ease-in-out infinite;
}

@keyframes float {
   0%{transform: translateY(0px);}
   50%{transform: translateY(-20px);}
   100%{transform: translateY(0px);}
}